# Thoses are the default development values
NEXT_PUBLIC_SUPABASE_URL=https://nangbmajrjhsmcipboys.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_z7OOXxhHaBGKnA_H9tX7TQ_4MCi9qOm
NEXT_SITE_URL=http://localhost:3000
NEXT_REDIRECT_URLS=http://localhost:3000/
