@import "tailwindcss";

@theme {
  --color-background: #e8d7bd;
  --color-surface: #f3e6d3;
  --color-muted: #ddc8a8;

  --color-primary: #b67c4a;
  --color-primary-hover: #9d683b;

  --color-text: #3b2d20;
  --color-text-light: #6d5a46;

  --color-border: #ccb696;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-8px);
  }

  50% {
    transform: translateX(8px);
  }

  75% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}


.animate-shake {
  animation: shake 0.5s ease-in-out;
}